@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap');


body{
    background-color: rgb(234, 255, 232);
    background-image: radial-gradient(rgb(3, 201, 136), rgb(0, 21, 36));
    margin-top: 0.5%;
    margin-left: 280px;
    font-family: 'Raleway', sans-serif;

}
.container3{
    width: 50em;
    height: 45em ;
    position: relative;
    margin: 0 5em;
    background-color: #4ea001;
    background-image: radial-gradient(rgb(158, 179, 132), rgb(0, 21, 36));
    border-radius: 8px;
    box-shadow: #000 0px 11px 15px 0px;
    
}



.subcont2{
    width: 30em;
    height: 35em;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 5%;
    margin-left: 20%;
    border: 8px;
}
h1{
    color:white;
}
#fullname, #mail, #pass, #retype, #num{
    background-color: white;
    padding:10px;
    height: 10%;
    width: 300px;
    border: 0;
}
#dob{
    padding:18px;
    height: 20px;
    width: 280px;
}
#address{
    height: 40px;
    width: 280px;
}

#register{
    width: 80px;
    border: 2px solid white;
    width:280px;
    padding:10px;
    background-color: rgb(96, 223, 96);
    margin-left:3.5%;
}

#register:hover{
    box-shadow: #000 0px 3px 5px 0px;
    transform: scale(1.1);
    cursor: pointer;
    background-color: darkslategray;
    color: white;
}
label{
    font-size: 12px;
    margin-left: -48%;
}

#addrs{
    font-size: 12px;
    margin-left: -35%;
}
#fn,#e,#pas,#cp,#mn,#do{
    color:rgb(96, 223, 96);
    font-size:18px;
}
